<div class="jumbotron jumbotron-fluid" id="jumbotronIndex">
  <div class="container">

    <h1 class="display-4 text-center">ABOUT US</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-5" id="person">
    <div class="feature">
      <h3>Lacey Gibbons</h3>
      <p>Hello. I’m a Montana farm and ranch girl who moved to the big city of Seattle where I’m currently working as a visual
        content & web developer. Since I’m studying to be a full-stack developer, I spend my days and nights creating,
        coding, researching and problem-solving.  </p>
      <a href="mailto:gibbons.lacey@gmail.com"><i class="fas fa-envelope fa-2x" title="Email Lacey Gibbons"></i></a>
      <a href="https://github.com/lulu-gibbons" target="_blank"><i class="fab fa-github fa-2x" title="Lacey's Github"></i></a>
      <a href="https://www.linkedin.com/in/lacey-gibbons-webdev/" target="_blank"><i class="fab fa-linkedin fa-2x" title="Lacey's LinkedIn"></i></a>
    </div>
  </div>


  <div class="col-md-5" id="person">
    <div class="feature">
      <h3>Bryan Kelley</h3>
      <p>Hi All! My name is Bryan and I was working on the backend connectivity for the Harvest: Seasonal
        Cookbook web application. The backend for this project utilizes MySQL, Sequelize, Express, Node,
        and Javascript. It’s been a blast working on this project and I’ve been throughly enjoying the
        backend development process. If you are looking for a new backend developer to join your team,
        organization or project feel free to let me know via LinkedIn.</p>
      <a href="mailto:bryanrkelley14@gmail.com"><i class="fas fa-envelope fa-2x" title="Email Bryan Kelley"></i></a>
      <a href="https://github.com/bryanrkelley" target="_blank"><i class="fab fa-github fa-2x" title="Bryan's Github"></i></a>
      <a href="https://www.linkedin.com/in/bryanrkelley14/" target="_blank"><i class="fab fa-linkedin fa-2x" title="Bryan's LinkedIn"></i></a>
    </div>
  </div>
</div>


<div class="row text-center">
  <div class="col-md-5" id="person">
    <div class="feature">
      <h3>Tad Ochwat</h3>
      <p>Lorem ipsum dolor amet kombucha sustainable master cleanse YOLO you probably haven't heard of them meh
        occupy, subway tile lyft 90's lumbersexual. Crucifix everyday carry jean shorts, fanny pack beard banjo
        cliche kombucha tilde readymade pork belly. Selvage pork belly listicle normcore offal. Fam tattooed
        chia, synth trust fund thundercats vape gluten-free umami mlkshk banjo whatever.</p>
      <a href="mailto:tochwat@gmail.com"><i class="fas fa-envelope fa-2x" title="Email Tad Ochwat"></i></a>
      <a href="https://github.com/tochwat" target="_blank"><i class="fab fa-github fa-2x" title="Tad's Github"></i></a>
      <a href="https://www.linkedin.com/in/ochwat/" target="_blank"><i class="fab fa-linkedin fa-2x" title="Tad's LinkedIn"></i></a>
    </div>
  </div>


  <div class="col-md-5" id="person">
    <div class="feature">
      <h3>Benjamin Vaagen</h3>
      <p>I enrolled in the University of Washington Full Stack Coding Bootcamp because I am excited to
        build a career as a web developer. I have found that I especially enjoy the front end, but I
        learned a lot about the backend from this project. I am really looking forward to applying the
        skills that I learned from this class and furthering my experience and skills in the industry.
      </p>
      <a href="mailto:benvaagen24@gmail.com"><i class="fas fa-envelope fa-2x" title="Email Benjamin Vaagen"></i></a>
      <a href="https://github.com/benvaagen" target="_blank"><i class="fab fa-github fa-2x" title="Ben's Github"></i></a>
      <a href="https://www.linkedin.com/in/benjamin-vaagen-7b0178174/" target="_blank"><i class="fab fa-linkedin fa-2x" title="Ben's LinkedIn"></i></a>
    </div>
  </div>
</div>
