<body data-spy="scroll" data-target="#navbarResponsive">
    <!-- Start Home Section -->
    <div id="aboutus">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!-- {{!-- <a class="navbar-brand" href="#"><img src="img/fearsomefoursome.png"></a> --}} -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/uw-project-2/Project2"><i
                                class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navigation -->

        <div class="jumbotron jumbotron-fluid" id="jumbotronIndex">
            <div class="container">

                <h1 class="display-4 text-center">ABOUT US</h1>
                <!-- {{!-- <h3 class="text-center">Recipes with seasonally relevant ingredients.</h3> --}} -->
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <div class="feature">
                    <h3>Lacey Gibbons</h3>
                    <p>Lorem ipsum dolor amet kombucha sustainable master cleanse YOLO you probably haven't heard of them meh occupy, subway tile lyft 90's lumbersexual. Crucifix everyday carry jean shorts, fanny pack beard banjo cliche kombucha tilde readymade pork belly. Selvage pork belly listicle normcore offal. Fam tattooed chia, synth trust fund thundercats vape gluten-free umami mlkshk banjo whatever.</p>
                    <a href="https://github.com/lulu-gibbons" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/lacey-gibbons-webdev/" target="_blank"><i
                            class="fab fa-linkedin fa-2x"></i></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="feature">
                    <h3>Bryan Kelly</h3>
                    <p>Hi All! My name is Bryan and I was working on the backend connectivity for the Harvest: Seasonal
                        Cookbook web application. The backend for this project utilizes MySQL, Sequelize, Express, Node,
                        and Javascript. It’s been a blast working on this project and I’ve been throughly enjoying the
                        backend development process. If you are looking for a new backend developer to join your team,
                        organization or project feel free to let me know via LinkedIn.</p>
                    <a href="https://github.com/bryanrkelley" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/bryanrkelley14/" target="_blank"><i
                            class="fab fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-md-6">
                <div class="feature">
                    <h3>Tad Ochwat</h3>
                    <p>Lorem ipsum dolor amet kombucha sustainable master cleanse YOLO you probably haven't heard of them meh occupy, subway tile lyft 90's lumbersexual. Crucifix everyday carry jean shorts, fanny pack beard banjo cliche kombucha tilde readymade pork belly. Selvage pork belly listicle normcore offal. Fam tattooed chia, synth trust fund thundercats vape gluten-free umami mlkshk banjo whatever.</p>
                    <a href="https://github.com/tochwat" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/ochwat/" target="_blank"><i
                            class="fab fa-linkedin fa-2x"></i></a>


                </div>
            </div>

            <div class="col-md-6">
                <div class="feature">
                    <h3>Benjamin Vaagen</h3>
                    <p>I enrolled in the University of Washington Full Stack Coding Bootcamp because I am excited to
                        build a career as a web developer. I have found that I especially enjoy the front end, but I
                        learned a lot about the backend from this project. I am really looking forward to applying the
                        skills that I learned from this class and furthering my experience and skills in the industry.
                    </p>
                    <a href="https://github.com/benvaagen" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/benjamin-vaagen-7b0178174/" target="_blank"><i
                            class="fab fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>

        <hr>


        <footer class="text-center">
            <h6>the fearsome foursome</h6>
            <h6>University of Washington Full Stack Web Development Bootcamp: Project 2</h6>
            <h6><a id="footerGithub" href="https://github.com/uw-project-2/Project2"><i
                        class="fab fa-github fa-2x"></i></a></h6>
        </footer>