 <div class="container">
      <div class="row">
        <div class="col-12" id="addRecipe">
          <h2>Add a Recipe</h2>
          <form class="create-form" method="POST">

              {{!-- Form group  --}}
              <div class="form-group">
              <p>Enter your recipe information and click the "Submit" button.</p>
              <label for="name">Name:</label> 
              <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter the recipe's name"> 
              <label for="photo">Photo:</label>
              <input type="text" class="form-control" id="photo" aria-describedby="photo" placeholder="Enter a url for a photo of the recipe"> 

              <div id="field">
              <div id="field0">
                  <label for="ingredients">Ingredient:</label>
                  <div id="ingredients"></div> 
                  <label for="amount">Ingredient amount:</label>
                  <input type="text" class="form-control" id="amount" aria-describedby="amount" placeholder="The amount for this ingredient"> 
              </div>
              </div>
            
              {{!-- add another ingredient button --}}
              <br><button id="add-more" name="add-more" class="btn btn-info">Add another ingredient</button><br>

              {{!-- Add new ingredient button and collapsable box for inputs --}}
              {{!-- <button class="btn btn-success" id="add-new-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Missing ingredient? Add a new one
              </button>

              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <label for="newIngredient">New ingredient:</label>
                    <input type="text" class="form-control" id="newIngredient" aria-describedby="newIngredient" placeholder="Enter the name of the new ingredient"> 
                    <label for="selectSeason">New ingredient season:</label>
                    <select multiple class="form-control" id="selectSeason">
                      <option>Spring</option>
                      <option>Summer</option>
                      <option>Fall</option>
                      <option>Winter</option>
                      <option>Not applicable</option>
                    </select>
                    <label for="newAmount">New ingredient amount:</label>
                    <input type="text" class="form-control" id="newAmount" aria-describedby="newAmount" placeholder="The amount for this new ingredient">  --}}
                    {{!-- add another new ingredient button --}}
                    {{!-- <br><button id="add-more-new" name="add-more-new" class="btn btn-primary">Add another new ingredient</button><br> --}}

                {{!-- </div>
              </div> </br> --}}

              
              <label for="directions">Directions:</label>
              <textarea class="form-control" id="directions" aria-describedby="directions" placeholder="Enter the recipe's directions" rows="5"></textarea> 
            </div>

            <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
