<div class="container" id="home-header">
      <div class="row">
        <div class="col-12 text-center" id="home-header">
          <h2>It's time to harvest!</h2>
          <h4>Select a season</h4>
        </div>
      </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-deck text-center mx-auto">
      <a href = "/ingredients/Spring">
        <div id="spring-card" class="card text-white mb-3 season-card hvr-grow-shadow" style="max-width: 18rem;">
          <div class="card-body">
            <img class="season-icon" src="/img/icons-01.png">
            <h5 class="card-title home-season-link">Spring</h5>
          </div>
        </div>
      </a>
      <a href = "/ingredients/Summer">
        <div id="summer-card" class="card text-white mb-3 season-card hvr-grow-shadow" style="max-width: 18rem;">
          <div class="card-body">
            <img class="season-icon" src="/img/icons-02.png">
            <h5 class="card-title home-season-link">Summer</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card-deck text-center mx-auto">
      <a href = "/ingredients/Fall">
        <div id="fall-card" class="card text-white mb-3 season-card hvr-grow-shadow" style="max-width: 18rem;">
          <div class="card-body">
            <img class="season-icon" src="/img/icons-03.png">
            <h5 class="card-title home-season-link">Fall</h5>
          </div>
        </div>
      </a>
      <a href = "/ingredients/Winter">
        <div id="winter-card" class="card text-white mb-3 season-card hvr-grow-shadow" style="max-width: 18rem;">
          <div class="card-body">
            <img class="season-icon" src="/img/icons-04.png">
            <h5 class="card-title home-season-link">Winter</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container text-center" id="home-add-buttons">
  <div class="row">
    <div class="col-12" id="addRecipe">
      <a href = "/addRecipe"><h2 class="hvr-icon-grow"><i class="fas fa-plus-circle hvr-icon"></i>  Add a recipe</h2></a> <br>
      <a href = "/addIngredient"><h2 class="hvr-icon-grow"><i class="fas fa-plus-circle hvr-icon"></i>  Add an ingredient</h2></a>
    </div>
  </div>
</div>
