<div class="jumbotron jumbotron-fluid">
  <div class="container">
    
    <h1 class="display-4 text-center">
      <i class="fas fa-utensils"></i> </br>
      Recipe Book</h1>
  </div>
</div>


<div class="container">

  <div class="row">

    <div class="col-8 offset-2">
      <h2><i class="fas fa-bookmark"></i> Your Recipes</h2>
      <ul id="recipe-list" class="list-group">
          {{#each recipes}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="recipe/{{this.id}}">{{this.recipe_name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
      </ul>

    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

        <h2><i class="fas fa-plus-circle"></i> Add a Recipe</h2>
        <form class="create-form" method="POST">

          <div class="form-group">
            <p>Enter your recipe information and click the "Submit" button.</p>
            <label for="name">Name:</label> 
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter the recipe's name"> 
            <label for="photo">Photo:</label>
            <input type="text" class="form-control" id="photo" aria-describedby="photo" placeholder="Enter a url for a photo of the recipe"> 
            <label for="ingredients">Ingredients:</label>
            <input type="text" class="form-control" id="ingredients" aria-describedby="ingredients" placeholder="Enter the recipe's ingredients"> 
            <label for="directions">Directions:</label>
            <textarea class="form-control" id="directions" aria-describedby="directions" placeholder="Enter the recipe's directions" rows="5"></textarea> 
          </div>

          <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
        </form>



      
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
