
<div class="container">
      <div class="row">
        <div class="col-12 text-center" id="home-header">
          <h2>It's time to harvest!</h2>
          <h4>Select a season</h4>
        </div>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck text-center mx-auto">
          <a href = "/ingredients/Spring">
            <div id="spring-card" class="card text-white mb-3 season-card" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Spring</h5>
              </div>
            </div>
          </a>
          <a href = "/ingredients/Summer">
            <div id="summer-card" class="card text-white mb-3 season-card" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Summer</h5>
              </div>
            </div>
          </a>
        </div>
    </div>
    <div class="row">
        <div class="card-deck text-center mx-auto">
          <a href = "/ingredients/Fall">
            <div id="fall-card" class="card text-white mb-3 season-card" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Fall</h5>
              </div>
            </div>
          </a>
          <a href = "/ingredients/Winter">
            <div id="winter-card" class="card text-white mb-3 season-card" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Winter</h5>
              </div>
            </div>
          </a>
        </div>
    </div>
</div>


    {{!-- <div class="container">
      <div class="row">
        <div class="col-12 text-center" id="yourRecipes">
          <h2 yourRecipesList><i class="fas fa-bookmark"></i> Your Recipes</h2>
          <ul id="recipe-list" class="list-group">
            {{#each recipes}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="recipe/{{this.id}}">{{this.recipe_name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div> --}}

    <div class="container">
      <div class="row">
        <div class="col-12" id="addRecipe">
          <a href = "/addRecipe"><h2><i class="fas fa-plus-circle"></i> Add a recipe</h2></a>
          <a href = "/addIngredient"><h2><i class="fas fa-plus-circle"></i> Add an ingredient</h2></a>
        </div>
      </div>
    </div>


    <footer class="text-center">
      <p>the Fearsome fearsomefoursome</p>
      <p>University of Washington Full Stack Web Development Bootcamp: Project 2</p>
      <p><a href="https://github.com/uw-project-2/Project2"><i class="fab fa-github"></i></a></p>
    </footer>

    {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script> --}}
