<div class="container">
  <div class="row">
    <div class="col-12 text-center" id="yourRecipes">
      <h2>Ingredients in Season</h2>
      <h4>Select an ingredient</h4>
      <ul id="ingredient-list" class="list-group">
        {{#each ingredients}}
          <li data-id="ingredient-{{this.id}}" class="list-group-item">
            <a href="../recipes/{{this.id}}">{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
