body {
  /* background-color: #0f0e0e; */
  font-family: 'Roboto', sans-serif;
}

a {
  color: #22b573;
}

footer {
  /* background-color: #0f0e0e; */
  color: #666666;
  margin-top: 5rem;
}

h2, h3, h4 {
  margin-top: 20px;
  color: #666666;
}

label {
  margin-top: .75rem;
}

#person {
  margin: 0 auto;
}

/* ============================================================================== */
/* NAVBAR */

.navbar {
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: white !important;
  box-shadow: 0px 0px 7px 0px #d0d0d0;
  margin-bottom: 30px;
}

.navbar-brand img {
  height: 3.5rem;
  margin-bottom: 5px;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color:  #666666;
  padding-top: .8rem;
}

.navbar-brand {
  color: #22b573;
  font-size: 2.25rem;
}

.nav-link{
  font-size: 1.25rem;
}

/* ============================================================================== */
/* INGREDIENTS LIST PAGE */

.ingredients-list-item {
  background-color: #22b573;
  margin: 25px;
  box-shadow: 0px 5px 7px 0px #d0d0d0;
  display: block !important;
}

.ingredients-list-link {
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.ingredients-list-link:hover {
  color: white;
}

.list-group-item {
  line-height: 2.5;
  font-weight: bold;
}

#yourRecipes {
  /* background-color: #0f0e0e; */
  color:  #666666;
  padding-left: 0;
  padding-right: 0;
}

#recipe-list {
  margin-top: 25px;
  margin-bottom: 25px;
}

#addRecipe {
  /* background-color: #0f0e0e; */
  color:  #666666;
  margin-top: .3rem;
  margin-bottom: .3rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
}

/* ============================================================================== */
/* RECIPE LIST PAGE */

.recipes-list-item {
  background-color: #fdfdfd;
  margin: 25px;
  box-shadow: 0px 5px 7px 0px #d0d0d0;
  display: block !important;
}

.recipe-list-img {
  max-width: 190px;
  max-height: 190px;
  border-radius: 10px;
  margin-top: 22px;
}

.recipes-list-link {
  color: #666666;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.recipes-list-link:hover {
  color: #666666;
}

/* ============================================================================== */
/* RECIPE DETAIL PAGE */

#recipe-header {
  margin-top:0;
}

#recipe-full-image{
  border-radius: 7px;
}

pre {
  font-size: inherit;
  color: inherit;
  border: initial;
  padding: initial;
  font-family: inherit;
  display: flex;   
  flex-wrap: wrap;
  overflow-wrap: normal;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  }

/* ============================================================================== */
/* HOMEPAGE */

#add-new-btn {
  margin-top: 20px;
}

#home-header {
  margin-bottom: 8px;
}

#home-add-buttons {
  margin-top: 50px;
}

.home-season-link {
  letter-spacing: 2px;
}

.season-icon {
  max-width: 80px;
  margin-top: 15px;
  /* max-height: 190px; */
}

.season-card {
  min-width: 15rem;
  min-height: 10rem;
  margin-top: 20px;
}

h5.card-title {
  margin-top: 10px;
}

#spring-card {
  background-color: #22b573;
}

#summer-card {
  background-color: #dfaa42;
}

#fall-card {
  background-color: #f15a24;
}

#winter-card {
  background-color: #29abe2;
}

/* ============================================================================== */
/* 404 PAGE */

#body404 {
  background-color: #3b3d3f;
}

#jumbotron404 {
  color: white;
  background-image: url(/img/jalapenojmbtrn.png);
  text-align: center;
  margin-top: 15% !important;
}

#toHome {
  color: white;
}

#toHome:hover {
  color: #EAC807;
}

/* ============================================================================== */
/* BUTTONS */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #22b573 !important;
  border-color: #22b573 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #0e8a52 !important;
  border-color: #0e8a52 !important;
}

/* ============================================================================== */
/* HOVER EFFECTS */

a:hover {
  text-decoration: none;
  color: #0e8a52;
}

  /* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Icon Grow */
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}