body {
  /* background-color: #0f0e0e; */
}

/* Navigation */
.navbar {
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: white !important;
}

.navbar-brand img {
  height: 3.5rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color:  #666666;
  padding-top: .8rem;
}

.navbar-dark .navbar-brand {
  color: #22b573;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #22b573;
}

#jumbotronIndex {
  color: white;
  background-image: url(/img/jalapenojmbtrn.png);
  margin-top: 4rem;
  margin-bottom: .3rem;
}

.list-group-item {
  line-height: 2.5;
}

#yourRecipes {
  /* background-color: #0f0e0e; */
  color:  #666666;
  padding-left: 0;
  padding-right: 0;
}

#recipe-list {
  margin-top: 25px;
  margin-bottom: 25px;
}

#addRecipe {
  /* background-color: #0f0e0e; */
  color:  #666666;
  margin-top: .3rem;
  margin-bottom: .3rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
}

footer {
  /* background-color: #0f0e0e; */
  color: #666666;
}

h2, h3, h4 {
  margin-top: 20px;
  color: #666666;
}

label {
  margin-top: .75rem;
}

.list-group-item {
    font-weight: bold;
}

#add-new-btn {
  margin-top: 20px;
}


.season-card {
  min-width: 15rem;
  min-height: 10rem;
  margin-top: 20px;
}

h5.card-title {
  margin-top: 43px;
}

#spring-card {
  background-color: #22b573;
}

#summer-card {
  background-color: #dfaa42;
}

#fall-card {
  background-color: #f15a24;
}

#winter-card {
  background-color: #29abe2;
}

/* ============================================================================== */
/* 404 PAGE */

#body404 {
  background-color: #3b3d3f;
}

#jumbotron404 {
  color: white;
  background-image: url(/img/404jumbotron.png);
  text-align: center;
  margin-top: 15% !important;
}

#toHome {
  color: white;
  

}

#toHome:hover {
  color: #EAC807;
  
}

/* #selectSeason {
  height: 110px;
} */